<h2>LOGIN</h2>

<!--Not Logged In-->
@if(currentUser$ != null)
{
  <div class="login-form">
    @if (errorMessage) {
      <div class="error">
        <P>SYSTEM ERROR</P>
        <p>{{errorMessage}}</p>
      </div>
    }
    EMAIL<input type="string" id="email" name="email" [(ngModel)]="email">
    PASSWORD<input type="password" id="password" name="password" [(ngModel)]="password">
    <P><button (click)="onSubmit()">LOGIN</button>&nbsp;
    <button (click)="onRegister()">REGISTER</button></P>
  </div>
}

