<app-menu/>
  <div class="mainContainer">

    @if (this.menuService.menuSelection.value === 'LOGIN') {
      <app-login/>
    }
    @if (this.menuService.menuSelection.value === 'PIPBOY') {
      <app-action-points/>
    }
    @if (this.menuService.menuSelection.value === 'NOTES') {
      <app-notes/>
    }
    @if (this.menuService.menuSelection.value === 'USER') {
      <app-user/>
    }
    @if (this.menuService.menuSelection.value === 'REGISTER') {
      <app-register/>
    }

  </div>

<router-outlet />
